
@{
    ViewBag.Title = "Search";
}
<h2>Search by Book ID</h2>
<div class="col-md-10">
    <input type="text" id="BookId" size="5" />
    <input type="submit" name="SearchButton" id="SearchButton" value="Search" />
</div>
<br />
<div id="divProcessing">
    <p>Processing, please wait . . .<img src="../../Content/ajax-loader.gif" height="50" /></p>
</div>
<br />
<div id="divResult"></div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#divProcessing").hide();
            $('#SearchButton').click(function () {
                search();
            });
        });
        function search() {
            $("#divResult").empty();
            $("#divProcessing").show();
            var bookId = $("#BookId").val();
            var url = "../api/Books/" + bookId;
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function (resp) {
                    //Hide the 'busy' gif:
                    console.log(resp.Title);
                    $("#divProcessing").hide();
                    $("<h3>Results</h3>").appendTo("#divResult");
                    $("#divResult").append("<p>Title:" + resp.Title + "<br/>Publisher: " + resp.Publisher + "<br/>");
                    $("#divResult").append("Authors:<br/>");
                    for (var i = 0; i < resp.Authors.length; i++) {
                        $("#divResult").append(resp.Authors[i].FirstName + "" + resp.Authors[i].LastName + "<br/>");
                    }
                    $("#divResult").append("</p>");
                }
            })
        }
    </script>
}



